/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

/* body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
} */

body {
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-areas:
    "header"
    "article"
    "main"
    "section"
    "span"
    "footer";

  @media (width>20em) {
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-areas:
      "header"
      "article"
      "main"
      "section"
      "span"
      "footer";
  }

  @media (width>30em) {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "article main"
      "image section"
      "span image"
      "footer footer";
  }

  @media (width>40em) {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "article main section"
      "image span image"
      "footer footer footer";
  }

  @media (width>50em) {
    grid-template-columns: 200px 1fr 200px 70px;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    /* "header header header header" */
      "header article main section"
      "span footer footer footer";
  }
}

header {
  grid-area: header;

  @media (width>50em) {
    /* JOUW CODE HIER */
  }
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

article {
  grid-area: article;
}

span {
  grid-area: span;
}

section {
  grid-area: section;
}

@layer basis {
  body > * {
    padding: 1em;
  }

  header {
    background: yellow;
  }

  h1 {
    margin: 0;
  }
  nav {
    background: limegreen;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
    flex-wrap: wrap;
  }
  main {
    background: lightpink;
  }
  aside {
    background: orange;
  }
  footer {
    background: lightskyblue;
  }
}
