h1 {
  font-family: curve, serif;
  font-style: normal;
  font-weight: 600;
}

/*************************/
/* jouw oplossingen hier */
/*************************/

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.4em;
  gap: 30px;
  grid-auto-flow: dense;
}

article:first-child {
  grid-column-start: 1;
  grid-column-end: -1;
}

article:nth-of-type(3n) {
  grid-column: span 2;
  background-color: lightyellow;
}

/*******************************************/
/*******************************************/
/***                                     ***/
/***  algemene styling voor de articles  ***/
/***                                     ***/
/*******************************************/
/*******************************************/

@layer basis {
  :root {
    --card-color: #333;
    --card-background: #fff;
    --card-background-accent: gold;
  }

  /* Simpele CSS Remedy */
  /* naar een idee van Jen Simmons */
  /* github.com/jensimmons/cssremedy */
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  article {
    background-color: var(--card-background);
    color: var(--card-color);
    padding: 1em;
  }

  article:first-child {
    background-color: var(--card-background-accent);
  }

  article h2 {
    margin: 0 0 0.25em;
    line-height: 1.1em;
  }

  article p {
    margin: 0;
  }
}
