/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

html {
  color-scheme: light dark;

  /* jouw thema's - light en dark */
  --color: #00ca80;
  --border-color: yellow;
  --color-h1: blue;
  --background: light-dark(#00b7ff, #006dac);
  --background2: light-dark(#006aff, #0031ac);
}

/* om de radio buttons te laten werken */
/* dan moet je wel voor de methode met light-dark() kiezen :) */

html:has([value="light"]:checked) {
  color-scheme: light;
  background-color: var(--background);
}

html:has([value="dark"]:checked) {
  color-scheme: dark;
  background-color: var(--background);
}
