main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.4em;
  gap: 10px;
  grid-auto-flow: dense;
}

article:first-child {
  grid-column-start: 1;
  grid-column-end: -1;
}

article:nth-of-type(3n) {
  grid-column: span 2;
  background-color: rgb(255, 0, 179);
}

@layer basis {
  :root {
    --card-color: #333;
    --card-background: #f8f061;
    --card-background-accent: rgb(71, 108, 219);
  }

  /* Simpele CSS Remedy */
  /* naar een idee van Jen Simmons */
  /* github.com/jensimmons/cssremedy */
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  article {
    background-color: var(--card-background);
    color: var(--card-color);
    padding: 0.5em;
    border-radius: 30px;
  }

  article:first-child {
    background-color: var(--card-background-accent);
  }

  article h2 {
    margin: 0 0 0.25em;
    line-height: 1.1em;
  }

  article p {
    margin: 0;
  }
}

h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  font-family: curve, serif;
  font-style: normal;
  font-weight: 600;
}

p {
  font-family: curve, serif;
  font-style: normal;
  font-weight: 400;
}

html {
  color-scheme: light dark;

  /* jouw thema's - light en dark */
  --color: #00ca80;
  --border-color: yellow;
  --color-h1: blue;
  --background: light-dark(#00b7ff, #006dac);
  --background2: light-dark(#006aff, #0031ac);
}

/* om de radio buttons te laten werken */
/* dan moet je wel voor de methode met light-dark() kiezen :) */

html:has([value="light"]:checked) {
  color-scheme: light;
  background-color: var(--background);
}

html:has([value="dark"]:checked) {
  color-scheme: dark;
  background-color: var(--background);
}
